<div>
  <logout-app></logout-app>
</div>
<h3 ALIGN="CENTER">Below is a list of your students. Click on a student for their textbook rental details</h3>
<div class="grid grid-pad">
  <a *ngFor="let student of allStudents" class="col-1-4"
      routerLink="/textbook/{{student.id}}">
    <div class="module student">
      <!-- <h4>Name: {{student.name}}, Major: {{student.major}}</h4> -->
      <ul>
        <li> Name: {{student.name}}
          <ul>
            <li>
                Major: {{student.major}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </a>
</div>
